#
# OpenSSL configuration file for Root CA
#
[ req ]
default_keyfile                 = ./root_CA.key
default_md                      = sha256
distinguished_name              = req_distinguished_name
x509_extensions                 = v3_ca
string_mask                     = nombstr
req_extensions                  = v3_req
prompt                          = no

[ req_distinguished_name ]
C                      = {{ root_cert_country }}
ST                     = {{ root_cert_state }}
L                      = {{ root_cert_city }}
O                      = {{ org_name }}
OU                     = {{ root_cert_org_unit }}
CN                     = {{ root_cert_common_name }}
emailAddress           = {{ root_cert_email }}

[ ca_Default ]
default_md                      = sha256
private_key                     = ./root_CA.key

[ v3_ca ]
basicConstraints                = critical,CA:true
keyUsage                        = cRLSign,keyCertSign
nsCertType                      = objCA
nsCaPolicyUrl                   = http://example.com/ca-policy/
subjectKeyIdentifier            = hash

[ v3_req ]
nsCertType                      = emailCA,sslCA,objCA,objsign

