# http://dev.mysql.com/doc/mysql/en/server-system-variables.html
[client]
port			= 3306
socket			= /var/run/mysqld/mysqld.sock

[mysqld_safe]
socket			= /var/run/mysqld/mysqld.sock
nice			= 0

[mysqld]
user			= mysql
pid-file		= /var/run/mysqld/mysqld.pid
socket			= /var/run/mysqld/mysqld.sock
port			= 3306
basedir			= /usr
datadir			= /var/lib/mysql
tmpdir			= /var/tmp
bind-address		= 0.0.0.0
key_buffer		= 64M
max_allowed_packet	= 16M
thread_stack		= 192K
thread_cache_size       = 8
myisam-recover		= BACKUP
query_cache_limit	= 2M
query_cache_size        = 64M
slow_query_log		= 1
slow_query_log_file	= /var/log/mysql/mysql-slow.log
long_query_time		= 3
server-id		= 20
log_bin			= /var/lib/mysql/mysql-bin
expire_logs_days	= 10
innodb_flush_log_at_trx_commit=1
sync_binlog		= 1
innodb_buffer_pool_size	= 268435456
table_definition_cache	= 16384
table_open_cache	= 16384
innodb_log_file_size	= 134217728
ssl-ca			= /etc/ssl/easypress/root_CA.pem
ssl-cert		= /etc/ssl/easypress/newjersey-m.easypress.ca.pem
ssl-key			= /etc/ssl/easypress/newjersey-m.easypress.ca.key
skip-external-locking

[mysqldump]
quick
quote-names
max_allowed_packet	= 16M

[mysql]

[isamchk]
key_buffer		= 16M

!includedir /etc/mysql/conf.d/
