31 4    * * *   root    /usr/bin/php5 /usr/local/sbin/webstats.php
41 4    * * *   root    y=`php /usr/local/sbin/webstats_totals.php` && /bin/echo "<pre>$y</pre>"|mail -s "$(/bin/echo -e "easypress web stats on {{ inventory_hostname }}\nContent-Type: text/html")" sysadmin@easypress.ca 
