# {{ansible_managed}}
#
[mysql]

{% if (auto_provision_host is not defined) or (auto_provision_host is defined and auto_provision_host == False) %}
# CLIENT #
port                           = 3306
socket                         = /var/run/mysqld/mysqld.sock
ssl-ca                         = /etc/ssl/eqpress/root_CA.pem
ssl-cert                       = /etc/ssl/eqpress/{{ inventory_hostname }}.pem
ssl-key                        = /etc/ssl/eqpress/{{ inventory_hostname }}.key
{% endif %}
