<?php
/**
 * PHPasswordPusher MySQL table installer
 */
// This is modifired for rampress as non-interactive
//SETUP:
$rootdbuser = 'root';  //Privileged user to perform database creation and privilege granting.
$rootdbpass = '{{ mysql_root_db_pass }}';  //Privileged user's password (please remove this value when finished!).

//STOP. Have you configured "pwpusher_private/config.php" yet?

require 'pwpusher_private/config.php';

//Create Database
try{
  $db = new PDO("mysql:dbname=;host=".$host, $rootdbuser, $rootdbpass) or die('Connect Failed');
  $db->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);
  if($db->query("SHOW DATABASES LIKE '" . $dbname . "'")->rowCount() > 0) {
    echo "Database already exists. Not recreating.\n";
    echo "Aborting.\n";
    exit;
  }
  $db->exec('CREATE DATABASE ' . $dbname . ';');
  $db->exec('USE ' . $dbname .';');
  if($db->query("SHOW TABLES LIKE '" . $tblname . "'")->rowCount() > 0) {
    echo "Table already exists. Not recreating.\n";
    echo "Aborting\n.";
    exit;
  }
  $db->exec('CREATE TABLE ' . $tblname . ' (seccred TEXT, id VARCHAR(128) NOT NULL PRIMARY KEY, ctime DATETIME, xtime DATETIME, views INT, xviews INT);') ;
  $db->exec('CREATE EVENT ' . $tblname . '_tidy ON SCHEDULE EVERY 1 MINUTE DO DELETE FROM ' . $dbname . '.' . $tblname . ' WHERE xtime<UTC_TIMESTAMP() OR views>=xviews;');
  $db->exec('SET GLOBAL event_scheduler = 1;');
  $db->exec('GRANT ALL PRIVILEGES ON ' . $dbname . '.* TO \'' . $dbuser . '\'@\'localhost\' IDENTIFIED BY \'' . $dbpass . '\';') ;
  $db->exec('FLUSH PRIVILEGES;');
  echo "MySQL setup is successful!\n";
} catch (PDOException $e) {
  echo 'Problem: ' . $e->getMessage() . "\n";
}
