###############################################################################
###############################################################################
#
# HOST DEFINITION
#
###############################################################################
###############################################################################

define host{
        use                     easypress-node          ; Name of host template to use
							; This host definition will inherit all variables that are defined
							; in (or inherited by) the freebsd-server host template definition.
        host_name               {{ mysql_repl_master }}
        alias                   {{ mysql_repl_master }}
        address                 {{ hostvars[mysql_repl_master].public_ipv4_address }}
        }


define host{
        use                     easypress-node          ; Name of host template to use
							; This host definition will inherit all variables that are defined
							; in (or inherited by) the freebsd-server host template definition.
        host_name               {{ mysql_repl_slave }}
        alias                   {{ mysql_repl_slave }}
        address                 {{ hostvars[mysql_repl_slave].public_ipv4_address }}
        }

###############################################################################
###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################
###############################################################################


# Define a service to "ping" the local machine

define service{
        use                             local-service         ; Name of service template to use
        host_name                       {{ mysql_repl_master }}
        service_description             PING
	check_command			check_ping!800.0,70%!1000.0,90%
	check_period			24x7
	notification_period		workhours
	event_handler		        trace-to-host
        }

define service{
        use                             local-service         ; Name of service template to use
        host_name                       {{ mysql_repl_slave }}
        service_description             PING
	check_command			check_ping!800.0,70%!1000.0,90%
	check_period			24x7
	notification_period		workhours
	event_handler		        trace-to-host
        }

############## System Monitoring ##############

