#!/bin/sh
#
# backup_to_zfs.sh
#
echo
echo
echo {{ inventory_hostname }} backup to ZFS
rsync --delete -ave "ssh -p 32123 -l backup" \
        --exclude '*.zip' \
        --exclude '*.tar.gz' \
        --exclude '*.tgz' \
        --exclude '.git*' \
        --exclude '*.log' \
        --exclude '**ackup**/' \
        --exclude '.git*' \
        --exclude '**ache/' \
	--exclude '.sessions/' \
	/var/www backup@birch.boreal321.com:/Library/Backups/{{ inventory_hostname }}/var
rsync --delete -ave "ssh -p 32123 -l backup" --exclude drupal /etc backup@birch.boreal321.com:/Library/Backups/{{ inventory_hostname }}
rsync --delete -ave "ssh -p 32123 -l backup" /usr/local/sbin backup@birch.boreal321.com:/Library/Backups/{{ inventory_hostname }}
rsync --delete -ave "ssh -p 32123 -l backup" /home/vmg backup@birch.boreal321.com:/Library/Backups/{{ inventory_hostname }}/home
