#!/bin/sh
#
# backup_etc.sh - 2010/Dec/28 vmg
#

# backup to birch.boreal321.com
echo
echo
echo {{ inventory_hostname }} /etc backup to BIRCH.BOREAL321.COM
ionice -c3 rsync --delete -ave "ssh -p 32123 -l backup" --exclude drupal /etc backup@birch.boreal321.com:/Library/Backups/{{ inventory_hostname }}
ionice -c3 rsync --delete -ave "ssh -p 32123 -l backup" /usr/local/sbin backup@birch.boreal321.com:/Library/Backups/{{ inventory_hostname }}
