#!/bin/bash
# {{ansible_managed}}
#
export PATH=/bin:/usr/bin:/sbin:/usr/sbin:/usr/local/bin:/usr/local/sbin

for site in `ls -1d /var/www/*`; do
    #site=$(basename $sites)
    if [ -d "$site/wordpress" ]; then
	    mu_dir=${site}/wordpress/wp-content/mu-plugins
	    if [ ! -d ${mu_dir} ]; then
		    mkdir ${mu_dir}
	    fi
        rsync -av {{eqpress_docroot}}/bruteprotect/* ${site}/wordpress/wp-content/mu-plugins
	    #cp -r {{eqpress_docroot}}/console/plugin/* ${MU_DIR}/
	    #cp -r {{eqpress_docroot}}/cache-purge/* ${MU_DIR}/
	    #chepown ${site}
	fi
done
