# When to save a page to the cache. Start by enabling.
set $do_not_set_cache "";

# When to bypass cache. Start by enabling access to the cache.
set $do_not_use_cache "";

if ($http_cookie ~* "comment_author") {
	set $do_not_set_cache "true";
}
# Don't use or set the cache for logged in users or recent commenters
#if ($http_cookie ~* "comment_author|wordpress_[a-f0-9]+|wp-postpass|wordpress_no_cache|wordpress_logged_in") {
if ($http_cookie ~* "wordpress_[a-f0-9]+|wp-postpass|wordpress_no_cache|wordpress_logged_in") {
	set $do_not_set_cache "true";
	set $do_not_use_cache "true";
}
# POST requests and urls with a query string should always go to PHP
if ($request_method = POST) {
	set $do_not_set_cache "true";
}   
if ($query_string != "") {
	set $do_not_set_cache "true";
	set $do_not_use_cache "true";
}   
# Don't cache URIs containing the following segments
if ($request_uri ~* "(/store.*|/cart.*|/my-account.*|/checkout.*|/addons.*|/boutique.*|/panier.*|caisse.*|/compte.*|/wp-admin/|/xmlrpc.php|/wp-(app|cron|login|register|mail).php|wp-.*.php|/feed/|index.php|wp-comments-popup.php|wp-links-opml.php|wp-locations.php|sitemap(_index)?.xml|[a-z0-9_-]+-sitemap([0-9]+)?.xml)") {
	set $do_not_set_cache "true";
	set $do_not_use_cache "true";
}   

if ( $cookie_woocommerce_items_in_cart = "1" ){
	set $do_not_set_cache "true";
	set $do_not_use_cache "true";
}

fastcgi_split_path_info ^(.+\.php)(/.+)$;
include fastcgi_params;
fastcgi_index index.php;
fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
fastcgi_pass php5-fpm-unix-sock;
fastcgi_read_timeout 300;
fastcgi_send_timeout 180;
fastcgi_buffers 32 32k;
fastcgi_buffer_size 64k;

# Bypass cache if $nocache is not 0
# Be sure that this is above all other fastcgi_cache directives
fastcgi_no_cache $do_not_set_cache;
fastcgi_cache_bypass $do_not_use_cache;
fastcgi_ignore_headers Set-Cookie Expires Cache-Control;

fastcgi_cache_valid 200 302 300m;
fastcgi_cache_valid 301 1h;
fastcgi_cache_valid any 1m;
fastcgi_cache_min_uses 1;

# set which directories can be accessed and which PHP functions are prohibited
fastcgi_param PHP_VALUE "open_basedir=$document_root:/var/tmp \n session.save_path=$document_root/.sessions \n disable_functions='curl_multi_exec,dl,exec,passthru,pfsockopen,popen,posix_kill,posix_mkfifo,posix_setuid,posix_uname,proc_close,proc_open,proc_terminate,shell_exec,system,ftp_exec,leak,posix_setpgid,posix_setsid,proc_get_status,proc_nice,show_source,escapeshellcmd,apc_clear_cache,ssh2_connect,phpinfo,pcntl_alarm,pcntl_fork,pcntl_waitpid,pcntl_wait,pcntl_wifexited,pcntl_wifstopped,pcntl_wifsignaled,pcntl_wexitstatus,pcntl_wtermsig,pcntl_wstopsig,pcntl_signal,pcntl_signal_dispatch,pcntl_get_last_error,pcntl_strerror,pcntl_sigprocmask,pcntl_sigwaitinfo,pcntl_sigtimedwait,pcntl_exec,pcntl_getpriority,pcntl_setpriority,xmlrpc_decode,xmlrpc_entity_decode,inject_code'";

# Cacheing is enabled, so tell the client to use its local cache.
if ($do_not_set_cache = "") {
	add_header Cache-Control "max-age=600, must-revalidate";
	add_header eQ-Cache $upstream_cache_status;
	add_header X-Frame-Options SAMEORIGIN;
	add_header X-XSS-Protection "1; mode=block";
	add_header Vary "Accept-Encoding, Cookie";
}

# Cacheing is not being used, so tell the client to ignore its local cache.
if ($do_not_set_cache = "true") {
	#add_header Cache-Control "max-age=0, no-cache, no-store, must-revalidate";
	#add_header Expires "Wed, 11 Jan 1984 05:00:00 GMT";
	#add_header Pragma no-cache;
	add_header eQ-Cache $upstream_cache_status;
	add_header X-Frame-Options SAMEORIGIN;
	add_header X-XSS-Protection "1; mode=block";
	add_header Vary "Accept-Encoding";
}
