###############################################################################
## Global section
###############################################################################
set daemon 60
set expectbuffer 20 kb
set logfile /var/log/monit.log
set statefile /var/run/monit-60.state
set pidfile /var/run/monit-60.pid
set idfile /var/run/monit-60.id
set mailserver localhost
set alert {{ monitoring_email }} with mail-format { subject: monit-60 $SERVICE $EVENT }
#
# easyPress console monitoring
#

# reset permissions when easypress console sends command
check program easypress-console-perms with path /usr/local/sbin/monit_ep_console_perms.sh
	if status != 0 then alert
#
# reset permissions when easypress console sends command
check program easypress-console-lockdown with path /usr/local/sbin/monit_ep_console_lockdown.sh
	if status != 0 then alert
#
# reset SFTP password via easypress console
check program easypress-reset-password with path /usr/local/sbin/monit_ep_console_reset_password.sh
	if status != 0 then alert

#
# General system monitoring config
#

#
# monitor active connections
check program active-connectionx with path /usr/local/sbin/monit_connections.sh
	if status != 0 then alert
#
# make sure cron is running
check process cron with pidfile /var/run/crond.pid
            start = "/etc/init.d/cron start"
            stop  = "/etc/init.d/cron stop"
#
# make sure postfix queue is not growing otherwise could be some spam getting through
check program check-mailq with path /usr/local/sbin/monit_check_mailq.sh
	if status != 0 then alert
