; configuration for php ZendOpcache module
; priority=05
zend_extension=opcache.so
opcache.memory_consumption={{ php_opcache_memory_size }}
opcache.interned_strings_buffer=16
opcache.max_accelerated_files=50000
opcache.save_comments=1
opcache.load_comments=0
opcache.fast_shutdown=1
opcache.revalidate_freq=3
opcache.enable_cli=0
opcache.error_log="/var/log/php-opcache-errors.log"
