###############################################################################
## Global section
###############################################################################
set daemon 10
set expectbuffer 20 kb
set logfile /var/log/monit.log
set statefile /var/run/monit-10.state
set pidfile /var/run/monit-10.pid
set idfile /var/run/monit-10.id
set mailserver localhost
set alert {{ monitoring_email }} with mail-format { subject: monit-10 $SERVICE $EVENT }
#
# Add monitors requiring 10 second intervals
#
