######################################################################
# Multi Router Traffic Grapher -- Example Configuration File
######################################################################
# This file is for use with mrtg-2.0
#
# Note:
#
# * Keywords must start at the begin of a line.
#
# * Lines which follow a keyword line which do start 
#   with a blank are appended to the keyword line
#
# * Empty Lines are ignored
#
# * Lines starting with a # sign are comments.

# Where should the logfiles, and webpages be created?

# Minimal mrtg.cfg
#--------------------

#HtmlDir: /var/www/mrtg
#ImageDir: /var/www/mrtg
#LogDir: /var/lib/mrtg
#ThreshDir: /var/lib/mrtg
#Target[r1]: 2:public@myrouter.somplace.edu
#MaxBytes[r1]: 1250000
#Title[r1]: Traffic Analysis
#PageTop[r1]: <H1>Stats for our Ethernet</H1>

WorkDir: /var/www/easypress.ca/mrtg
#############################################################

#-------------------------------------------------------------------

Title[cpu0]: {{ inventory_hostname }} - CPU 0 Usage
MaxBytes[cpu0]: 100
AbsMax[cpu0]: 1000
Options[cpu0]: bits
Target[cpu0]: `/usr/bin/awk '/cpu0 /{print $2+$3; print $2+$3+$4; print "quite some time"; print "home"}'</proc/stat`
PageTop[cpu0]: {{ inventory_hostname }} - CPU 0 Usage
ShortLegend[cpu0]: %x100
Ylegend[cpu0]: %x100
LegendI[cpu0]: &nbsp;user:
LegendO[cpu0]: &nbsp;total:
Legend1[cpu0]: Time spent in user mode
Legend2[cpu0]: Time spent in user mode + time spent in system mode
Legend3[cpu0]: Maximum occurance of time spent in user mode
Legend4[cpu0]: Maximum occurance of (time spent in user mode + time spent in system mode)
XSize[cpu0]: 350
YSize[cpu0]: 150

#-------------------------------------------------------------------

Title[cpu1]: {{ inventory_hostname }} - CPU 1 Usage
MaxBytes[cpu1]: 100
AbsMax[cpu1]: 1000
Options[cpu1]: bits
Target[cpu1]: `/usr/bin/awk '/cpu1 /{print $2+$3; print $2+$3+$4; print "quite some time"; print "home"}'</proc/stat`
PageTop[cpu1]: {{ inventory_hostname }} - CPU 1 Usage
ShortLegend[cpu1]: %x100
Ylegend[cpu1]: %x100
LegendI[cpu1]: &nbsp;user:
LegendO[cpu1]: &nbsp;total:
Legend1[cpu1]: Time spent in user mode
Legend2[cpu1]: Time spent in user mode + time spent in system mode
Legend3[cpu1]: Maximum occurance of time spent in user mode
Legend4[cpu1]: Maximum occurance of (time spent in user mode + time spent in system mode)
XSize[cpu1]: 350
YSize[cpu1]: 150

#-------------------------------------------------------------------

Title[cpu2]: {{ inventory_hostname }} - CPU 2 Usage
MaxBytes[cpu2]: 100
AbsMax[cpu2]: 1000
Options[cpu2]: bits
Target[cpu2]: `/usr/bin/awk '/cpu2 /{print $2+$3; print $2+$3+$4; print "quite some time"; print "home"}'</proc/stat`
PageTop[cpu2]: {{ inventory_hostname }} - CPU 2 Usage
ShortLegend[cpu2]: %x100
Ylegend[cpu2]: %x100
LegendI[cpu2]: &nbsp;user:
LegendO[cpu2]: &nbsp;total:
Legend1[cpu2]: Time spent in user mode
Legend2[cpu2]: Time spent in user mode + time spent in system mode
Legend3[cpu2]: Maximum occurance of time spent in user mode
Legend4[cpu2]: Maximum occurance of (time spent in user mode + time spent in system mode)
XSize[cpu2]: 350
YSize[cpu2]: 150

#-------------------------------------------------------------------

Title[cpu3]: {{ inventory_hostname }} - CPU 3 Usage
MaxBytes[cpu3]: 100
AbsMax[cpu3]: 1000
Options[cpu3]: bits
Target[cpu3]: `/usr/bin/awk '/cpu3 /{print $2+$3; print $2+$3+$4; print "quite some time"; print "home"}'</proc/stat`
PageTop[cpu3]: {{ inventory_hostname }} - CPU 3 Usage
ShortLegend[cpu3]: %x100
Ylegend[cpu3]: %x100
LegendI[cpu3]: &nbsp;user:
LegendO[cpu3]: &nbsp;total:
Legend1[cpu3]: Time spent in user mode
Legend2[cpu3]: Time spent in user mode + time spent in system mode
Legend3[cpu3]: Maximum occurance of time spent in user mode
Legend4[cpu3]: Maximum occurance of (time spent in user mode + time spent in system mode)
XSize[cpu3]: 350
YSize[cpu3]: 150

#-------------------------------------------------------------------

Title[eth0]: {{ inventory_hostname }} - eth0 bits
Options[eth0]: bits
Target[eth0]: `grep " eth0" /proc/net/dev | sed 's/eth0://' | awk '{print $1; print $9; print ""; print ""}'`
PageTop[eth0]: {{ inventory_hostname }} - eth0 bits
MaxBytes[eth0]: 100000000
Ylegend[eth0]: bits
ShortLegend[eth0]: bits
XSize[eth0]: 350
YSize[eth0]: 150
Legend1[eth0]: bits&nbsp;
LegendI[eth0]: input&nbsp;
LegendO[eth0]: output&nbsp;
WithPeak[eth0]: ymwd

#-------------------------------------------------------------------
Title[eth0p]: {{ inventory_hostname }} - eth0 packets
Options[eth0p]: bits
Target[eth0p]: `grep " eth0" /proc/net/dev | sed 's/eth0://' | awk '{print $2; print $10; print ""; print ""}'`
PageTop[eth0p]: {{ inventory_hostname }} - eth0 packets
MaxBytes[eth0p]: 100000000
Ylegend[eth0p]: bits
ShortLegend[eth0p]: bits
XSize[eth0p]: 350
YSize[eth0p]: 150
Legend1[eth0p]: bits&nbsp;
LegendI[eth0p]: input&nbsp;
LegendO[eth0p]: output&nbsp;
WithPeak[eth0p]: ymwd

#-------------------------------------------------------------------

Title[mem]: {{ inventory_hostname }} - memory used/free
Target[mem]: `free | /usr/bin/awk '/Mem: /{print $3*1000; print $4*1000; print ""; print ""}'`
PageTop[mem]: {{ inventory_hostname }} memory used/free
Options[mem]: gauge
MaxBytes[mem]: 50000000000
Ylegend[mem]: mem
ShortLegend[mem]: mem
XSize[mem]: 350
YSize[mem]: 150
Legend1[mem]: mem&nbsp;
LegendI[mem]: used&nbsp;
LegendO[mem]: free&nbsp;
WithPeak[mem]: ymwd

#-------------------------------------------------------------------
Title[swap]: {{ inventory_hostname }} - memory swap
Target[swap]: `free | /usr/bin/awk '/Swap: /{print $3; print $3; print ""; print ""}'`
PageTop[swap]: {{ inventory_hostname }} - memory swap
Options[swap]: gauge
MaxBytes[swap]: 500000
Ylegend[swap]: mem
ShortLegend[swap]: mem
XSize[swap]: 350
YSize[swap]: 150
Legend1[swap]: mem&nbsp;
LegendI[swap]: swap&nbsp;
LegendO[swap]: swap&nbsp;
WithPeak[swap]: ymwd

#-------------------------------------------------------------------
Title[load]: {{ inventory_hostname }} - system load
Target[load]: `uptime | sed 's/,//g' | awk '{print $10*100; print $11*100 ; print ""}'`
PageTop[load]: {{ inventory_hostname }} - system load
Options[load]: gauge
MaxBytes[load]: 100000
Ylegend[load]: load x100
ShortLegend[load]: load
XSize[load]: 350
YSize[load]: 150
Legend1[load]: load&nbsp;
LegendI[load]: 5min&nbsp;
LegendO[load]: 15min&nbsp;
WithPeak[load]: ymwd

#---------uptime---------------------------
Target[uptime]: `/usr/local/bin/uptime.pl`
#Suppress[uptime]: d
Options[uptime]: gauge,noinfo, nopercent, nobanner, noi
Title[uptime]: {{ inventory_hostname }} - uptime
PageTop[uptime]: {{ inventory_hostname }} - uptime
MaxBytes[uptime]: 1000000
YLegend[uptime]: days
ShortLegend[uptime]: days
LegendO[uptime]: Uptime:
Legend2[uptime]: Uptime

#---------Disk Space sda1--------------------
Target[sda1]: `/usr/local/bin/checkdisk.sh vg_debos-lv_debos`
Options[sda1]: nopercent,gauge,noinfo, nobanner
MaxBytes[sda1]: 20000
Unscaled[sda1]:dwmy
kMG[sda1]:M,G,T,P
YLegend[sda1]: octets
ShortLegend[sda1]: o
Kilo[sda1]:1024
Legend1[sda1]: Free
Legend2[sda1]: Used
LegendI[sda1]: Free :
LegendO[sda1]: Used :
Title[sda1]: {{ inventory_hostname }} - disk space
PageTop[sda1]: {{ inventory_hostname }} - disk space

#-------------------------------------------------------------------
Title[diskio]: {{ inventory_hostname }} - disk io
Target[diskio]: `/usr/local/bin/diskio.sh`
PageTop[diskio]: {{ inventory_hostname }} - disk io
Options[diskio]: nopercent,gauge,noinfo, nobanner
MaxBytes[diskio]: 20000
Ylegend[diskio]: blocks
ShortLegend[diskio]: io
LegendI[diskio]: &nbsp;Reads
LegendO[diskio]: &nbsp;Writes

#-------------------------------------------------------------------
Title[swapio]: {{ inventory_hostname }} - swap io
Target[swapio]: `/usr/local/bin/swapio.sh`
PageTop[swapio]: {{ inventory_hostname }} - swap io
Options[swapio]: nopercent,gauge,noinfo, nobanner
MaxBytes[swapio]: 20000
Ylegend[swapio]: blocks
ShortLegend[swapio]: io
LegendI[swapio]: &nbsp;Reads
LegendO[swapio]: &nbsp;Writes

#-------------------------------------------------------------------
Title[netcons]: {{ inventory_hostname }} - network connections
Target[netcons]: `/usr/local/bin/currentconnections.sh`
PageTop[netcons]: {{ inventory_hostname }} - network connections
Options[netcons]: gauge,noinfo,nobanner
MaxBytes[netcons]: 16896
Ylegend[netcons]: connections
ShortLegend[netcons]: cons
LegendI[netcons]: &nbsp;TCP
LegendO[netcons]: &nbsp;UDP
WithPeak[netcons]: ymwd
