---
# {{ansible_managed}}
# mysql
mysql_server_id: "{{ mysql_server_id_slave }}"
mysql_is_read_only: "1"
mysql_repl_role: "slave"
mysql_repl_master: "{{ master_hostname }}"
{% if use_host_lookup is defined and use_host_lookup %}
# if using DNS for host
public_ipv4_address: "{{ dns_ip_slave.stdout }}"
{% endif %}
