server {
	listen 443;
	server_name {{ inventory_hostname }};
	access_log /var/log/nginx/{{ inventory_hostname }}.access.log;
	error_log /var/log/nginx/{{ inventory_hostname }}.error.log;
	root /var/www/easypress.ca;

	include /etc/nginx/common_easypress_ssl.conf;
	include /etc/nginx/common_location_ep.conf;

	location / {
		try_files $uri $uri/ /index.php?$args;
	}

	location ~ \.php$ {
            expires 600;
            add_header X-Frame-Options SAMEORIGIN;
            include fastcgi_params;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            fastcgi_split_path_info ^(.+\.php)(/.+)$;
            fastcgi_index index.php;
            fastcgi_pass php5-fpm-auto-provision-sock;
	}
}
