# {{ansible_managed}}

server {
	listen 80;
	server_name {{ inventory_hostname }};
	access_log /var/log/nginx/{{ inventory_hostname }}.access.log eq_default;
	error_log /var/log/nginx/{{ inventory_hostname }}.error.log;
	root {{ eqpress_docroot }};

	# Only allow this uri for LetsEncrypt certonly webroot
	location ~ /.well-known/acme-challenge {
		try_files $uri =404;
		break;
	}

	location / {
		return 301 https://$host$request_uri;
	}
}

server {
	listen 443;
	server_name {{ inventory_hostname }};
	access_log /var/log/nginx/{{ inventory_hostname }}.access.log eq_default;
	error_log /var/log/nginx/{{ inventory_hostname }}.error.log;
	root {{ eqpress_docroot }};

	include /etc/nginx/eqpress/common_eqpress_ssl.conf;
	include /etc/nginx/eqpress/common_location_ep.conf;

	location / {
		try_files $uri $uri/ /index.php?$args;
	}

	location ~ \.php$ {
            expires 600;
            add_header X-Frame-Options SAMEORIGIN;
            include fastcgi_params;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            fastcgi_split_path_info ^(.+\.php)(/.+)$;
            fastcgi_index index.php;
            fastcgi_pass php-fpm-auto-provision-sock;
	}
}
