# {{ansible_managed}}
[DEFAULT]
ignoreip = 127.0.0.1{% if failban_ignore is defined and failban_ignore|length > 6 %} {{ failban_ignore }}
{% else %}

{% endif %}
bantime  = 6400000
findtime = 300
maxretry = 8
destemail = {{monitoring_email}} 
banaction = hostsdeny
mta = sendmail
protocol = tcp

[sshd]
enabled = true
maxretry = 8
