fastcgi_cache_path /var/cache/nginx/{{domain}} levels=1:2 keys_zone={{domain}}:10m inactive=600m max_size=24m;

server {
    listen 80;
    server_name {{domain}};
    server_name www.{{domain}};
{{multisite_config}}
    root /var/www/{{domain}}/wordpress;
    access_log /var/log/nginx/{{domain}}.access.log eq_default;
    error_log /var/log/nginx/{{domain}}.error.log;

    include /etc/nginx/eqpress/common_location.conf;
{{multisite_subdir_config}}

    location / {
{{lua_config_root}}
        try_files $uri $uri/ /index.php?$args;
    }

    location ~* xmlrpc\.php {
        include /etc/nginx/eqpress/common_login_limiter.conf;
    }

    location ~ \.php$ {
        location ~* wp\-login\.php {
            include /etc/nginx/eqpress/common_login_limiter.conf;
        }
{{lua_config_php}}
        include /etc/nginx/eqpress/common_fastcgi.conf;
        fastcgi_cache {{domain}};
    }

    location ~ /purge(/.*) {
        fastcgi_cache_purge {{domain}} "$scheme$request_method$host$1";
    }

}

#
# SSL server
#
server {
    listen 443 http2;
    server_name {{domain}};
    server_name www.{{domain}};
{{multisite_config}}
    root /var/www/{{domain}}/wordpress;
    access_log /var/log/nginx/{{domain}}.access.log eq_default;
    error_log /var/log/nginx/{{domain}}.error.log;

    include /etc/nginx/eqpress/common_eqpress_ssl.conf;
    include /etc/nginx/eqpress/common_location.conf;
{{multisite_subdir_config}}

    location / {
{{lua_config_root}}
        try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
        location ~* wp\-login\.php {
            include /etc/nginx/eqpress/common_login_limiter.conf;
        }
{{lua_config_php}}
        include /etc/nginx/eqpress/common_fastcgi.conf;
        fastcgi_cache {{domain}};
    }

    location ~ /purge(/.*) {
        fastcgi_cache_purge {{domain}} "$scheme$request_method$host$1";
    }

    include /etc/nginx/eqpress/common_adminer.conf;
}
