[easypress-admin]
user = www-data
group = www-data
listen = /var/run/php-fpm-admin.sock
listen.backlog = 256
listen.owner = www-data
listen.group = www-data
listen.mode = 0666
pm = dynamic
pm.max_children = 16
pm.start_servers = 2
pm.min_spare_servers = 2
pm.max_spare_servers = 2
pm.process_idle_timeout = 10s;
pm.max_requests = 32
slowlog = /var/log/php-fpm-slow.log
php_admin_value[memory_limit] = 256M
env[TMP] = /var/tmp
env[TMPDIR] = /var/tmp
env[TEMP] = /var/tmp
env[EP_DB_HOST] = "{{ auto_provision_db_host }}"
env[EP_PROV_DIR] = "{{ auto_provsion_base_directory }}"
env[EP_PROV_LOG] = "{{ auto_provision_log_file }}"
env[EP_KEYSALT_URL] = "{{ auto_provision_keysalt_url }}"
env[EP_DB_CHARSET] = "{{ auto_provision_db_charset }}"
env[EP_DB_COLLATE] = "{{ auto_provision_db_collate }}"
env[EP_DEV_RAND] = "{{ auto_provision_dev_rand }}"
env[DNS_API_HOST] = "{{ auto_provision_api_host }}"
env[DNS_API_URL] = "{{ auto_provision_api_url }}"
env[DNS_API_USERNAME] = "{{ auto_provision_api_username }}"
env[DNS_API_PASSWORD] = "{{ auto_provision_api_password }}"
env[CONSOLE_API_KEY_SECRET] = "{{ auto_provision_console_api_key_secret }}"
