---

auto_provision_host: true
auto_provision_db_host: "{{ auto_provision_db_host }}"
auto_provision_base_directory: "{{ auto_provision_base_directory }}"
auto_provision_log_file: "{{ auto_provision_log_file }}"
auto_provision_db_charset: "{{ auto_provision_db_charset }}"
auto_provision_db_collate: "{{ auto_provision_db_collate }}"
auto_provision_dev_rand: "{{ auto_provision_dev_rand }}"
auto_provision_easydns_api_host: "{{ auto_provision_easydns_api_host }}"
auto_provision_easydns_api_url: "{{ auto_provision_easydns_api_url }}"
auto_provision_easydns_api_username: "{{ auto_provision_easydns_api_username }}"
auto_provision_easydns_api_password: "{{ auto_provision_easydns_api_password }}"
auto_provision_console_api_key_secret: "{{ auto_provision_console_api_key_secret }}"
auto_provision_ansible_version: "{{ auto_provision_ansible_version }}"
auto_provision_gpg_id: "{{ auto_provision_gpg_id }}"
