---
auto_provision_host: true
# Note you can edit auto_provision_nodes and add multiple nodes
# Example
# auto_provision_nodes: '{"mynode1":{"hostname":"example1.node.co","ip":"192.168.2.1"},"mynode2":{"hostname":"example3.node.co","ip":"192.168.6.2"}}'
auto_provision_nodes: '{"{{ auto_provision_node_location }}":{"hostname":"{{ auto_provision_node_hostname }}","ip":"{{ auto_provision_node_ip_address }}"}}'
# auto_provision_node_hostname created by init is a single string.
# If you have multiple nodes defined above
# you will need to change this to a list
# Example
# auto_provision_node_hostname: [ "example1.node.co", "example3.node.co" ]
auto_provision_node_hostname: "{{ auto_provision_node_hostname }}"
# auto_provision_node_ip_address: only gets used in the init process. No need to update.
auto_provision_node_ip_address: "{{ auto_provision_node_ip_address }}"
auto_provision_db_host: "{{ auto_provision_db_host }}"
auto_provision_base_directory: "{{ auto_provision_base_directory }}"
auto_provision_tmp_directory: "{{ auto_provision_tmp_directory }}"
auto_provision_log_file: "{{ auto_provision_log_file }}"
auto_provision_web_server_user: "{{ auto_provision_web_server_user }}"
auto_provision_web_server_group: "{{ auto_provision_web_server_group }}"
auto_provision_db_charset: "{{ auto_provision_db_charset }}"
auto_provision_db_collate: "{{ auto_provision_db_collate }}"
auto_provision_dev_rand: "{{ auto_provision_dev_rand }}"
auto_provision_ansible_version: "{{ auto_provision_ansible_version }}"
auto_provision_gpg_id: "{{ auto_provision_gpg_id }}"
auto_provision_ldap_server: "{{ auto_provision_ldap_server }}"
auto_provision_ldap_port: "{{ auto_provision_ldap_port }}"
auto_provision_ldap_basedn: "{{ auto_provision_ldap_basedn }}"
auto_provision_ldap_authattr: "{{ auto_provision_ldap_authattr }}"
auto_provision_local_auth_user: "{{ auto_provision_local_auth_user }}"
auto_provision_local_auth_pass: "{{ auto_provision_local_auth_pass }}"

# nginx
easypress_server_id: "{{ org_name }}"
nginx_worker_processes: "{{ nginx_worker_processes }}"

# php-fpm
phpfpm_max_children: "{{ phpfpm_max_children }}"
phpfpm_start_servers: "{{ phpfpm_start_servers }}"
phpfpm_min_spare: "{{ phpfpm_min_spare }}"
phpfpm_max_spare: "{{ phpfpm_max_spare }}"
phpfpm_max_requests: "{{ phpfpm_max_requests }}"
php_opcache_memory_size: "{{ php_opcache_memory_size }}"

# mysql
mysql_root_db_pass: "{{ rand_result.results[0].stdout }}"
mysql_innodb_buffer_pool_size: "{{ mysql_innodb_buffer_pool_size }}"
mysql_innodb_log_file_size: "{{ mysql_innodb_log_file_size }}"

# Password Pusher
eq_pwpusher_db: "eqpwpdb"
eq_pwpusher_user: "eqpwp"
eq_pwpusher_pw: "{{ rand_result.results[1].stdout }}"
eq_pwpusher_key: "{{ rand_result.results[2].stdout }}"
eq_pwpusher_salt: "{{ rand_result.results[3].stdout }}"
pwpush_domain: "{{pwpush_domain}}"

eqpress_docroot: "{{ eqpress_docroot }}"
{% if use_host_lookup is defined and use_host_lookup %}
# if using DNS for host
public_ipv4_address: "{{ dns_ip_ap.stdout }}"
{% endif %}
