---

auto_provision_host: true
auto_provision_nodes: '{"{{ auto_provision_node_location }}":{"hostname":"{{ auto_provision_node_hostname }}","ip":"{{ auto_provision_node_ip_address }}"}}'
auto_provision_node_hostname: "{{ auto_provision_node_hostname }}"
auto_provision_node_ip_address: "{{ auto_provision_node_ip_address }}"
auto_provision_db_host: "{{ auto_provision_db_host }}"
auto_provision_base_directory: "{{ auto_provision_base_directory }}"
auto_provision_tmp_directory: "{{ auto_provision_tmp_directory }}"
auto_provision_log_file: "{{ auto_provision_log_file }}"
auto_provision_web_server_user: "{{ auto_provision_web_server_user }}"
auto_provision_web_server_group: "{{ auto_provision_web_server_group }}"
auto_provision_db_charset: "{{ auto_provision_db_charset }}"
auto_provision_db_collate: "{{ auto_provision_db_collate }}"
auto_provision_dev_rand: "{{ auto_provision_dev_rand }}"
auto_provision_ansible_version: "{{ auto_provision_ansible_version }}"
auto_provision_gpg_id: "{{ auto_provision_gpg_id }}"

# nginx
easypress_server_id: "{{ org_name }}"
nginx_worker_processes: "{{ nginx_worker_processes }}"

# php-fpm
phpfpm_max_children: "{{ phpfpm_max_children }}"
phpfpm_start_servers: "{{ phpfpm_start_servers }}"
phpfpm_min_spare: "{{ phpfpm_min_spare }}"
phpfpm_max_spare: "{{ phpfpm_max_spare }}"
phpfpm_max_requests: "{{ phpfpm_max_requests }}"
php_opcache_memory_size: "{{ php_opcache_memory_size }}"

# mysql
mysql_root_db_pass: "{{ mysql_root_db_pass }}"
mysql_innodb_buffer_pool_size: "{{ mysql_innodb_buffer_pool_size }}"
mysql_innodb_log_file_size: "{{ mysql_innodb_log_file_size }}"
