Welcome aboard, {{first_name}} {{last_name}}!

Thank you for signing up with Boreal321 Hosting.

Now it's time to configure your DNS settings. The IP address of the server your site is hosted on is:

{{server_ip}}

The rest of this email contains the information you need to access your new WordPress site hosted on easyPress.

Once you've updated your DNS records you can use the links below to access your site.

WordPress Website Address:  http://{{domain}}/
WordPress Admin Address:    http://{{domain}}/wp-admin/
WordPress Admin Username:   {{wp_admin}}
WordPress Admin Password:   {{pwp_wp}}

SFTP Server:    {{sftp_server}}
SFTP Port:      22
SFTP Username:  {{sftp_user}}
SFTP Password:  {{pwp_sftp}}

MySQL Admin Address:   https://{{domain}}/adminer/?db={{db_name}}
MySQL Admin Username:  {{db_user}}
MySQL Admin Password:  {{pwp_db}}

This is the email address you provided when signing up:

{{email}}

Occassionally we will email you about system related updates so please let us know if there is another address that's better for keeping in touch. You can email us at support@easypress.ca or call 416-535-8672 / 1-855-321-EASY (3279). We also tweet status updates via @easypresswp.

Thanks for choosing us and have fun!

Sincerely,

The easyPress Team

