Welcome aboard, {{first_name}} {{last_name}}!

Thank you for signing up with {{ org_name }}.

Now it's time to configure your DNS settings. The IP address of the server your site is hosted on is:

{{server_ip}}

The rest of this email contains the information you need to access your new WordPress site hosted on {{ org_name }}

Once you've updated your DNS records you can use the links below to access your site.

WordPress Website Address:  http://{{domain}}/
WordPress Admin Address:    http://{{domain}}/wp-admin/
WordPress Admin Username:   {{wp_admin}}
WordPress Admin Password:   {{pwp_wp}}

SFTP Server:    {{server_ip}}
SFTP Port:      22
SFTP Username:  {{sftp_user}}
SFTP Password:  {{pwp_sftp}}

MySQL Admin Address:   https://{{domain}}/adminer/?db={{db_name}}
MySQL Admin Username:  {{db_user}}
MySQL Admin Password:  {{pwp_db}}

This is the email address you provided when signing up:

{{email}}

Occassionally we will email you about system related updates so please let us know if there is another address that's better for keeping in touch. You can email us at {{ org_email }}. We also tweet status updates via {{ org_twitter }}.

Thanks for choosing us and have fun!

Sincerely,

The Team @ {{ org_name }}

