Welcome aboard, {{first_name}} {{last_name}}!

Thank you for using
{{org_name}} EQ Press Hosting.

Please read and agree to the Terms of Service.
{{org_tos_link}} 
before proceeding. Also note the FAQ for common
technical issues you may encounter.
https://{{org_support_url}}/eqpress/documentation

Herein your important information for your instance:

WordPress Website Address:  http://{{domain}}/
WordPress Admin Address:    https://{{domain}}/wp-admin/
WordPress Admin Username:   {{wp_admin}}
WordPress Admin Password:   {{pwp_wp}}

MySQL Admin Address:   https://{{domain}}/adminer/?db={{db_name}}
MySQL Admin Username:  {{db_user}}
MySQL Admin Password:  {{pwp_db}}

SFTP Server:	See below to request by email. *
SFTP Port:      22
SFTP Username:  {{sftp_user}}
SFTP Password:  {{pwp_sftp}}


IMPORTANT WARNING
Please save all passwords in a safe place.

THE PASSWORD LINKS ABOVE WILL EXPIRE AND
NOT BE AVAILABLE TO YOU ONLINE.

Note that you will get a error on your
https links if you have not installed 
SSL secure certificates for domain name
{{domain}}. To get rid of these errors
please use the dashboard to upload your
certificates. You can change your https
links to http but this is not secure.

Feel free to email us at {{org_email}}
if you have any questions.

* If you need SFTP access please email us
at {{org_email}} and request your access.

Sincerely,

The team at {{org_name}}
