Welcome aboard,
{{first_name}} {{last_name}}!

Thank you for using
{{org_name}} eqPress Hosing.
Here are some important links:

WordPress Website Address:  http://{{domain}}/
WordPress Admin Address:    https://{{domain}}/wp-admin/
WordPress Admin Username:   {{wp_admin}}
WordPress Admin Password:   {{pwp_wp}}

MySQL Admin Address:   https://{{domain}}/adminer/?db={{db_name}}
MySQL Admin Username:  {{db_user}}
MySQL Admin Password:  {{pwp_db}}

Please save all passwords in a safe place.
The password links above will expire and
not be available to you online.

Note that you will get a error on your
https links if you have not given us
SSL secure certificates for domain name
{{domain}}. To get rid of these errors
please use the dashboard to upload your
certificates. You can change your https
links to http but this is very insecure.

If you need SFTP access please email us at
{{org_email}} and request your access.

Feel free to email us at {{org_email}}
if you have any questions.
questions.

Sincerely,

The team at {{org_name}}
