Welcome aboard, {{first_name}} {{last_name}}!

Thank you for using eQualit.ie Hosting. Here are some important links:

WordPress Website Address:  http://{{domain}}/
WordPress Admin Address:    http://{{domain}}/wp-admin/
WordPress Admin Username:   {{wp_admin}}
WordPress Admin Password:   {{pwp_wp}}

Feel free to email us at {{org_email}} if you have any questions.

Sincerely,

The team @ {{org_name}}
