<?php
define('DB_NAME', '{{dbname}}');
define('DB_USER', '{{dbuser}}');
define('DB_PASSWORD', '{{dbpass}}');
define('DB_HOST', '{{dbhost}}');
define('DB_CHARSET', '{{dbcharset}}');
define('DB_COLLATE', '{{dbcollate}}');
$table_prefix = '{{dbprefix}}';

define('AUTOSAVE_INTERVAL', 900);
define('WP_POST_REVISIONS', 9);
define('DISALLOW_FILE_EDIT', true);
define('DISALLOW_FILE_MODS', false);
define('WPLANG', '');
define('WP_DEBUG', false);
define('FORCE_SSL_LOGIN', false);
define('FORCE_SSL_ADMIN', false);
define('FS_CHMOD_DIR', 0775);
define('FS_CHMOD_FILE', 0664);
define('EP_CACHE_OPTIONS', '{"log_level":"ERROR","enable_purge":1,"enable_map":0,"enable_log":1,"purge_homepage_on_new":1,"purge_homepage_on_edit":1,"purge_homepage_on_del":1,"purge_archive_on_new":1,"purge_archive_on_edit":1,"purge_archive_on_del":1,"purge_archive_on_new_comment":1,"purge_archive_on_deleted_comment":1,"purge_page_on_mod":1,"purge_page_on_new_comment":1,"purge_page_on_deleted_comment":1}');

// Authentication Unique Keys and Salts.
{{{keysalts}}}

define('EP_API_KEY', '{{{ep_api_key}}}');
/* That's all, stop editing! Happy blogging. */

@ini_set('display_errors','Off');
@ini_set('log_errors','On');
@ini_set('error_log', dirname(__FILE__) . '/php-errors.log');
@ini_set('memory_limit', '256M');
define('WP_MEMORY_LIMIT', '256M');
if ( !defined('ABSPATH') )
	define('ABSPATH', dirname(__FILE__) . '/');
require_once(ABSPATH . 'wp-settings.php');
