# {{ansible_managed}}
#
{% if nagios_server_ips is defined and nagios_server_ips|length > 7 %}
allowed_hosts=127.0.0.1,{{nagios_server_ips}}
{% else %}
allowed_hosts=127.0.0.1
{% endif %}

command[check_swap]=/usr/local/bin/runargs.sh /usr/lib/nagios/plugins/check_swap
command[check_users]=/usr/local/bin/runargs.sh /usr/lib/nagios/plugins/check_users
command[check_load]=/usr/local/bin/runargs.sh /usr/lib/nagios/plugins/check_load
command[check_all_disks]=/usr/local/bin/runargs.sh /usr/lib/nagios/plugins/check_disk
command[check_procs]=/usr/local/bin/runargs.sh /usr/lib/nagios/plugins/check_procs
command[check_zombie_procs]=/usr/local/bin/runargs.sh /usr/local/bin/check_zombies
command[check_big_files]=/usr/local/bin/runargs.sh /usr/local/bin/check_big_files.sh
command[check_freememory]=/usr/local/bin/runargs.sh /usr/local/bin/check_freememory.sh
command[check_connections]=/usr/local/bin/runargs.sh /usr/local/bin/check_connections.sh
command[check_tcptraffic]=/usr/local/bin/runargs.sh /usr/local/bin/check_ifutil.pl
{% if mysql_repl_role is defined and mysql_repl_role == 'slave' and mysql_repl_master is defined %}
command[check_backup_from_master]=/usr/local/bin/runargs.sh /usr/local/bin/check_backup_from_master.sh
{% endif %}
