---
# {{ansible_managed}}
org_name: "{{ org_name }}"
org_support_email: "{{ org_support_email }}"
org_support_url: "{{ org_support_url }}"
org_tos_link: "{{ org_tos_link }}"
org_twitter: ""

# mail
mandrill_password: "{{ mandrill_password }}"
mandrill_username: "{{ mandrill_username }}"
sendgrid_password: "{{ sendgrid_password }}"
sendgrid_username: "{{ sendgrid_username }}"
email_user_local: "{{ email_user_local }}"
email_passwd_local: "{{ email_passwd_local }}"
email_relay_name_local: "{{ email_relay_name_local }}"
mail_service: "{{ email_service }}"
email_domain: "{{ email_domain }}"
monitoring_email: "{{ monitoring_email }}"

# SSL/TLS
root_cert_country: "{{ root_cert_country }}"
root_cert_state: "{{ root_cert_state }}"
root_cert_city: "{{ root_cert_city }}"
root_cert_org_unit: "{{ root_cert_org_unit }}"
root_cert_common_name: "{{ root_cert_common_name }}"
root_cert_email: "{{ root_cert_email }}"

# ssh
ssh_known_hosts_command: '/usr/bin/ssh-keyscan -H -T 10'
ssh_known_hosts_file: '/root/.ssh/known_hosts'

# misc
timezone: "{{ timezone }}"
files: "files"
ssl_dir: "config/ssl"
console_secret_key: "{{ console_secret_key }}"
pwpush_url: "{{ pwpush_url }}"
use_host_lookup: true
