#!/bin/bash

# get number of established / listen / waiting connections

unset ERROR WARN CRIT HELP LISTEN ESTABLISHED WAIT MESSAGE EXIT

while getopts "c:w:h" options ; do
case $options in                 
  c )
   [ -n $OPTARG ] && CRIT=$OPTARG
  ;;
  w )
   [ -n $OPTARG ] && WARN=$OPTARG
  ;;
  h )
    HELP=ME
  ;;
esac
done

[ "$CRIT" -gt 0 ] 2>/dev/null && [ "$CRIT" -lt 9999999 ] || ERROR="$ERROR crit value looks wrong;"
[ "$WARN" -gt 0 ] 2>/dev/null && [ "$WARN" -lt 9999999 ] || ERROR="$ERROR warn value looks wrong;"
[ "$WARN" -gt "$CRIT" ] 2>/dev/null && ERROR="$ERROR <crit> must be greater than <warn>;"

if [ "$HELP" = "ME" ] || [ -n "$ERROR" ] ; then
    echo -e "\nUsage:\n\n`basename $0` -w <warn> -c <crit>\n"
    [ -n "$ERROR" ] && echo "Errors:$ERROR"
    exit 2
fi

ESTABLISHED=$(netstat -na | grep -c ESTABLISHED)
LISTEN=$(netstat -na | grep -c LISTEN)
WAIT=$(netstat -na | grep -c WAIT)

MESSAGE="- There are $ESTABLISHED established connections. | established=${ESTABLISHED};; waiting=${WAIT};; listeners=${LISTEN};;"

if [ "$ESTABLISHED" -ge "$CRIT" ] ; then
        echo "CONNECTIONS CRITICAL $MESSAGE"
	EXIT=2
    elif [ "$ESTABLISHED" -ge "$WARN" ] ; then
        echo "CONNECTIONS WARNING $MESSAGE"
	EXIT=1
    else
        echo "CONNECTIONS OK $MESSAGE"
	EXIT=0
fi

exit $EXIT
